<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content> -->
<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Acerca de
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <ion-card>
    <ion-card-header>

      <ion-card-title class="titulo">Descripción</ion-card-title>
       
    </ion-card-header>
     
    <ion-card-content>
      <p id="descripcion">
      Una aplicación móvil desarrollada en Angular Ionic es un software multiplataforma que utiliza el framework Angular para construir la lógica y la estructura de la aplicación, junto con el framework Ionic para crear una interfaz de usuario atractiva y funcional. Ionic proporciona componentes y herramientas para diseñar aplicaciones que se sienten y se ven nativas en dispositivos iOS y Android. La aplicación se puede desplegar tanto en la web como en tiendas de aplicaciones móviles. Utiliza tecnologías web como HTML, CSS y JavaScript, lo que facilita la reutilización de código y la implementación rápida.
      </p>
    </ion-card-content>

  </ion-card>

</ion-content> -->

<ion-header>
  <ion-toolbar>
    <ion-title>Registrar producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img alt="Camisa" src="assets/img/camisa.jpg" style="height: 150px; object-fit: cover; display: block; margin: 0 auto;"/>
          <ion-card-header>
            <ion-card-title style="font-size: 18px; text-align: center;">Camisa</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img alt="Camiseta" src="assets/img/camiseta.jpg" style="height: 150px; object-fit: cover; display: block; margin: 0 auto;"/>
          <ion-card-header>
            <ion-card-title style="font-size: 18px; text-align: center;">Camiseta</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img alt="Pantalón" src="assets/img/pantalon.jpg" style="height: 150px; object-fit: cover; display: block; margin: 0 auto;"/>
          <ion-card-header>
            <ion-card-title style="font-size: 18px; text-align: center;">Pantalón</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img alt="Pantaloneta" src="assets/img/pantaloneta.jpg" style="height: 150px; object-fit: cover; display: block; margin: 0 auto;"/>
          <ion-card-header>
            <ion-card-title style="font-size: 18px; text-align: center;">Pantaloneta</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img alt="Gorra" src="assets/img/gorra.jpg" style="height: 150px; object-fit: cover; display: block; margin: 0 auto;"/>
          <ion-card-header>
            <ion-card-title style="font-size: 18px; text-align: center;">Gorra</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img alt="Calzado" src="assets/img/calzado.jpg" style="height: 150px; object-fit: cover; display: block; margin: 0 auto;"/>
          <ion-card-header>
            <ion-card-title style="font-size: 18px; text-align: center;">Calzado</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>